html,
body {
  height: 100%;
}

/* overall layout */
.app-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.app-wrapper .location-list {
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  background-color: #00bcd4;
}

.location-list::-webkit-scrollbar {
  display: none;
}

.app-wrapper #map {
  flex: 1;
}

/* location-list detail */
.location-list .list-title {
  padding: 20px;
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
  font-family: 'Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans,Arial, sans-serif';
}

.location-list .filter-input {
  display: block;
  width: 100%;
  height: 44px;
  border: 1px solid #fff;
  border-right: none;
  border-left: none;
  outline: 0;
  text-indent: 10px;
  border-color: #0097a7;
  box-shadow: 0 0 3px #0097a7;
}

.location-list .list-item {
  color: #fff;
  padding: 15px;
  cursor: pointer;
}

.location-list .list-item:hover {
  background-color: #008ba3;
}

.infowindow-wrapper {
  width: 300px;
  height: 300px;
}

/* loading indicator style */
.loading {
  display: block;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 3px solid #008ba32a;
  border-top-color: #008ba3;
  animation: spin 1s infinite linear;
  position: relative;
  margin: 0 auto;
  top: 42%;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
