html,
body {
  height: 100%;
}

/* overall layout */
.app-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

.location-list {
  width: 300px;
  height: 100%;
  overflow-y: scroll;
  background-color: #00bcd4;
}

.location-list::-webkit-scrollbar {
  display: none;
}

.app-wrapper #map {
  flex: 1;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* top bar styles  */
.top-bar {
  background-color: #008ba3;
  height: 44px;
  width: 100%;
  position: relative;
}

.top-bar .top-bar-title {
  width: 100%;
  text-align: center;
  color: #fff;
  line-height: 44px;
  font-size: 22px;
  font-family: 'Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans,Arial, sans-serif';
}

.top-bar .menu-icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 21px;
  width: 24px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  cursor: pointer;
  padding: 12px 15px;
}

.menu-icon .menu-icon-line {
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 1px;
}

/* location-list detail */
.location-list .list-title {
  padding: 20px;
  font-size: 30px;
  font-weight: bolder;
  color: #fff;
  font-family: 'Trebuchet MS, Lucida Sans Unicode, Lucida Grande, Lucida Sans,Arial, sans-serif';
}

.location-list .filter-input {
  display: block;
  width: 100%;
  height: 44px;
  border: 1px solid #fff;
  border-right: none;
  border-left: none;
  outline: 0;
  text-indent: 10px;
  border-color: #0097a7;
  box-shadow: 0 0 3px #0097a7;
}

.location-list .list-item {
  color: #fff;
  padding: 15px;
  cursor: pointer;
}

.location-list .list-item:hover {
  background-color: #008ba3;
}

.infowindow-wrapper {
  width: 300px;
  min-height: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.infowindow-detail-link {
  color: #62efff;
}

/* loading indicator style */
.loading {
  display: block;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  border: 3px solid #008ba32a;
  border-top-color: #008ba3;
  animation: spin 1s infinite linear;
  position: relative;
  margin: 0 auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* for small screens */
@media screen and (max-width: 768px) {
  .top-bar .menu-icon {
    display: flex;
  }

  .location-list {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
    z-index: 1000;
  }

  .show-menu .location-list {
    transform: translateX(0);
  }

  .main-content {
    transition: all 0.3s ease-in-out;
  }

  .show-menu .main-content {
    transform: translateX(300px);
  }
}

/* for small screens like iphone 5 */
@media screen and (max-width: 320px) {
  .location-list {
    width: 240px;
  }

  .show-menu .location-list {
    transform: translateX(0);
  }

  .main-content {
    transition: all 0.3s ease-in-out;
  }

  .show-menu .main-content {
    transform: translateX(240px);
  }
}
